body{
    background-color:#5128613b;
    color : white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.logo{
    font-size:60px;
    
    text-align : center;
}
header {
    background-color : #6a0085;
    padding: 20px;
    text-align: center;
    display : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    list-style: none;
    flex-direction: row;
justify-content: space-between;
align-items: center;
margin-right : 40px;
gap: 30px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #d9a8ff;
}
footer{
    background-color : #53405a;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}
main{
    flex: 1;
    display: flex;
}
.hero {
    color : black;
  text-align : center;
  padding: 50px 20px;
  background-color : rgba(182, 179, 179, 0.404);
   flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.hero button {
    margin-top: 50px;
    background-color :  #c38fd4;
    color : white;
    border :none;
    padding : 20px  20px;
    font-size : 20px;
    border-radius : 5px;
}
.hero button:hover{
    background-color: #c43fff;
}
.hero h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.hero p{
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto 30px auto;
}








.game-page{
    flex: 1;
    padding: 50px;
}

.game-card{
    max-width: 900px;
    margin: auto;
    text-align: center;
    color: black;
}

.game-card h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.game-card p{
    font-size: 20px;
    margin-bottom: 40px;
}

.screenshots{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.screenshots img{
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

.game-card button{
    margin-top: 50px;
    background-color: #5a545c;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.game-card button:hover{
    background-color: #298d42;
}





